.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: linear-gradient(to bottom, var(--purple-900), var(--background));
  padding: 0 3.188rem; //set margin
}

.navContainer {
  display: flex;

  h1 {
    font-family: Roboto;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--gray-100);
  }
}

.navButtons {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 100%;
    transition: 0.5s;

    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.674),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      color: var(--white-900);
    }
  }
}

.active {
  color: var(--white-900);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.62),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.mobileNav {
  display: none;
}

@media (max-width: 930px) {
  .navButtons {
    display: none;
  }

  .mobileNav {
    display: flex;

    svg {
      width: 30px;
      height: 30px;
      margin-left: 1.25rem;
    }
  
  }

  .mobileNavContainer{
    position: fixed;
    display: flex;
    left: 0.5%;
    width: 98%;
    background: #0000009c;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border: 1px solid var(--purple-900);
    border-radius: 20px;

    > svg {
      left: 0;
      font-size: 3rem;
      margin-right: 2rem;
      margin-top: 1rem;
    }
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: Roboto;
      font-size: 1.25rem;
      font-weight: 700;
      transition: 0.5s;
      width: 100%;
      height: 7rem;

      &:hover {
        color: var(--white-900);
      }

    }
  }
}
