.containerProgress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 51px;
  background-color: var(--gray-900);
  border-radius: 50px;
  margin: 15px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;

  
  span {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-900);
    text-align: center;
    margin-right: 15px;
  }
}

.progress {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-right: 10px;
}
