.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 547px;
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.skills {
  display: flex;
  flex-direction: row;

  svg {
    font-size: 60px;
    margin:10px;
  }

}

.htmlSet {
  &:hover{
    color: orangered;
    transition: 0.4s;
  }
}

.cssSet {
  &:hover{
    color: rgb(68, 123, 232);
    transition: 0.4s;
  }
}

.javascriptSet {
  &:hover{
    color: rgb(255, 251, 0);
    transition: 0.4s;
  }
}

.typescriptSet {
  &:hover{
    color: rgb(0, 42, 255);
    transition: 0.4s;
  }
}

.reactSet {
  &:hover{
    color: rgb(0, 0, 255);
    transition: 0.4s;
  }
}

.nodeSet {
  &:hover{
    color: rgb(22, 141, 4);
    transition: 0.4s;
  }
}


@media (max-width: 600px) {
  .container {
    margin: 60px 0;

    h1 {
      font-size: 30px;
    }
  }

  .skills {
    font-size: 20px;
    flex-direction: column;
  }

}