.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background: var(--gray-900);
  border-radius: 12px;
  border-left: 11px solid var(--purple-900);
  
  
  > h1 {
    font-family: Roboto, "Helvetica Neue",;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 29px 0;
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 253px;
    height: 63px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 100px;
    border: 1px solid var(--purple-900);
    text-align: center;
    margin: 1rem 0;
    background: var(--gray-900);
    &:hover {
      background: var(--purple-900);
      color: var(--gray-900);
    }
  }
}

.contentCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1690px) {
  .contentCard {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:1100px) {
  .contentCard {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .containerCard {
    background: none;
    border: none;
  }
}