.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.188rem;
}

.bannerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3.188rem 0;
  width: 100%;

  

  img {
    width: 400px;
    border-radius: 50%;
    border: 0.15rem solid var(--purple-900);
    margin-left: 1.25rem;
  }
}

.text {
  h1 {
    font-family: Roboto;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white-900);
    text-align: left;
  }

  span {
    color: var(--purple-900);
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 3.188rem 0;


  h1 {
    font-family: Roboto, "Helvetica Neue",;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }


}


.skillsContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}