.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background: var(--gray-900);
  border-radius: 12px;
  border-left: 11px solid var(--purple-900);
  
  
  > h1 {
    font-family: Roboto, "Helvetica Neue",;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 29px 0;
  }
}