.containerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  height: 300px;
  background: var(--gray-900);
  border-radius: 12px;
  border: 1px solid #505050;
  margin: 12px;
  transition: 0.4s;

  &:hover {
    box-shadow: 7px 7px 20px white;
  }

  > img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }

  > svg {
    margin: 80px 0;
    width: 100%;
    height: 70%;
  }
}

.footerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--purple-900);
  border-radius: 0 0 12px 12px;
  border: 1px solid #505050;
}

.actionsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;

  > h1 {
    margin-top: 5px;
    font-family: Roboto, "Helvetica Neue",;
    font-size: 1.25rem;
  }

  
}

.buttonsAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--purple-900);
    color: var(--gray-100);
    border: 1px solid var(--gray-900);
    border-radius: 50px;
    width: 77px;
    height: 28px;
    font-size: 1rem;
    margin-left: 10px;
    transition: 0.3s;
    
    &:hover{
      background-color: var(--gray-100);
      color: var(--gray-900);
    }
  }
}

.languagesIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 2.2rem;
  padding: 0 10px;

  div > svg {
    margin-left: 10px;
  }
}

@media (max-width: 390px){
  .containerCard {
    width: 98%;
    height: 250px;
    margin: 12px 0;

    > img {
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
  
    > svg {
      margin: 60px 0;
      width: 90%;
      height: 60%;
    }

  }

  .footerCard {

  }
}