.containerContactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 518px;

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 300px;
      height: 40px;
      border-radius: 40px;
      border: 1px solid var(--purple-900);
      margin-bottom: 20px;
      padding-left: 10px;
      background: var(--gray-600);
      color: white;

      &:focus {
        color: #ffffff;
      }
    }

    textarea {
      width: 300px;
      height: 100px;
      border-radius: 12px;
      border: 1px solid var(--purple-900);
      margin-bottom: 20px;
      padding-left: 10px;
      background: var(--gray-600);
      color: white;
      margin-bottom: 20px;
      padding-left: 10px;
      &:focus {
        color: #ffffff;
      }
    }

    button {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid var(--purple-900);
      background-color: var(--gray-900);
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--purple-900);
        color: white;
      }
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;

  svg {
    cursor: pointer;
    color: var(--purple-900);
    font-size: 2rem;
    margin-top: 20px;
    transition: 0.3s;

    &:hover {
      color: var(--gray-100);
    }
  }
}

@media (max-width: 600px) {
  .containerContactMe {
    width: 90%;
    height: 450px;
  }
}
